@import "tailwindcss";
@import "../../styles/fonts.css";

/* Light mode: */
@theme static {

}

@media (prefers-color-scheme: dark) {
  /* Dark mode: */
  @theme static {

  }
}

.margin-responsive {
  @apply ml-5 mr-5 md:ml-30 md:mr-30;
}