services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${PYTHON_PORT}:8000"
    env_file:
      - ./.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${NODE_PORT}:8000"
    env_file:
      - ./.env


  authserver:
    build:
      context: ./authserver
      dockerfile: Dockerfile
    ports:
      - "${AUTH_PORT}:8002"
    env_file:
      - ./.env

  postgres:
    build:
      context: ./db
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "${POSTGRES_PORT}:5432"
